@charset "utf-8";

@import "_fonts.sass";



@import "../node_modules/bulma/sass/utilities/initial-variables";

//fonts
$family-sans-serif: "Graphik", sans-serif;
$weight-black: 900;

// color
$black: #111;
$blue: #176ded;
$white-bis: #fafafa;
$light: #aaaaaa;
$grey-light: #ddd;
$dark: #1a1a1a;
$black-dark: #000;

$blue-invert: #fff;
$primary: $blue;
$primary-invert: $blue-invert;
$border: $grey-light;


// text
$text: $black;
$weight-semibold: 500;

// backgrounds
$body-background-color: #f5f5f5;
$body-color: $black;

//left-menu
$menu-item-color: $white-bis;
$menu-item-hover-color: $white-bis;
$menu-item-hover-background-color: transparent;
$menu-item-active-background-color: #000;
$menu-item-radius: 0;

// breadcrumb
$breadcrumb-item-color:	$black;
$breadcrumb-item-hover-color:	$black;
$breadcrumb-item-active-color: $black;
$breadcrumb-item-separator-color: $light;

// sizes
$size-7: 0.875rem;
$size-8: 0.75rem;
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 !default

// radius
$radius: 4px;

//tabs
$tabs-link-color: $light;

@import "../node_modules/bulma/bulma";
@import "styles";
@import "./elements/logo";
